#menu{
    height: 100vh;
    color:white;
}

#navBox{
    width:3.7em;
    height:22.4em;
    background:white;
    position: relative;
    bottom:8.7em;
    border-radius: 0 0 1em 1em;
    opacity:0;
    clip-path: inset(0 0 100% 0);
    color:black;
}
nav{
    display: flex;
    align-items: center;
    
}
#menuBtnCont{
    height:4em;
    width:4em;
    background:green;
    border-radius:50%;
    z-index: 2;
}
#navInnerCont{
    width:70%;
    background:white;
    /* border:solid 1px black; */
    color:black;
    display: flex;
    justify-content:space-evenly;
    height:2.6em;
    position: relative;
    right:1em;
    padding-left: 1em;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    opacity: 0;
}
.navItem{
    background:rgba(0,0,0,.3);
    width:30%;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content:center
}
#menuBkg{
    position:absolute;
    width:100vw;
    height:100vh;
    display:none;
    z-index: 2;
    /* background:blue; */
}
#sideShow{
    position:absolute;
    width:60vw;
    height:90vh;
    background:white;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    opacity: 0;
    display: none;
    color:black;
    z-index: 3;


}
.sideItem{
    display:none;
    opacity:0

}
#menuInnerCont{
    height:90%;
    width:90%;
    margin:0 auto;
    /* background:rgba(41, 9, 9, 0.171); */
    position: relative;
    top:1em;
    border: solid 1px white;
    border-radius: .4em .4em 0 0 ;
}
.menuChoice{
    background:url('../../images/mobile/menu/menuItemsBkg.png');
    background-size: cover;
    width:100%;
    height:19em;
}