#menu{
    height: 100vh;
    color:white;
}
#menuBtn{
    width:22em;
    position: relative;
    z-index:2;

}
#navBox{
    width:3.7em;
    height:22.4em;
    background:white;
    position: relative;
    bottom:8.7em;
    border-radius: 0 0 1em 1em;
    opacity:0;
    clip-path: inset(0 0 100% 0);
    color:black;
}
nav{
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;

}

.navItem:nth-child(1){
    margin-top: 1em;;
}
#menBtn{
    background: url('../../images/mobile/menu/menuBttn.png');
    background-size: cover;
    height:5em;
    width:30%
}