#menu{
    height: 100vh;
    color:white;
}
#menuBtn{
    width:22em;
    position: relative;
    z-index:2;

}
#navBox{
    width:3.7em;
    height:22.4em;
    background:white;
    position: relative;
    bottom:8.7em;
    border-radius: 0 0 1em 1em;
    opacity:0;
    clip-path: inset(0 0 100% 0);
    color:black;
}
nav{
    display: flex;
    flex-direction: column;
    align-items:center;
    position: relative;
    right:9em;
    bottom:6em;
}