#menu{
    height: 100vh;
    color:white;
}
#menuBtn{
    width:22em;
    position: relative;
    z-index:2;

}
#navBox{
    width:3.4em;
    height:12.4em;
    background:white;
    position: relative;
}
nav{
    display: flex;
    flex-direction: column;
    align-items:center
}