#menu{
    height: 100vh;
    color:white;
}
#menuBtn{
    width:70%;
    position: relative;
    z-index:2;
    right:4em;
    bottom:5em;

}
#navBox{
    width:12em;
    height:2.4em;
    background:white;
    position: relative;
    right:11.3em;
}
nav{
    display: flex;
    align-items:center
}